<% layout("layouts/boilerplate") %><!--passess the below contents as body in the boilerplate(npm i ejsMate)-->
<style>
    .form{
        max-width: 500px;
        margin: auto;
    }
</style>     
<div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="form">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="title" value="<%=campground.title%>" required>
                <div class="valid-feedback">Looks Good</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="location" value="<%=campground.location%>" required>
                <div class="valid-feedback">Looks Good</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">@</span>
                    <input type="text" class="form-control" placeholder="0.00" name="price" value="<%=campground.price%>" required id="price" aria-label="price" aria-describedby="price-label">
                </div>
                <div class="valid-feedback">Looks Good</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="description" required><%=campground.description%></textarea>
                <div class="valid-feedback">Looks Good</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Add More Images</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
                <div class="valid-feedback">Looks Good</div>
            </div>
            <div class="mb-3">
                <% campground.images.forEach((img, i) => { %>
                    <!-- <img src="<%= img.url %>" alt="" class="img-thumbnail"> -->
                    <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                    </div>
                    <label for="image-<%= i %>">Delete?</label>
                <% }) %>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Back to campground</a>
        </div>
    </div>